@import "./vars.module.scss";

@mixin responsive-size-container {
  box-sizing: border-box;
  padding: 20px 20%;
  width: 100%;
  @media screen {
    @media (max-width: $mobile-size) {
      padding: 20px 20px;
    }
  }
}
@mixin column-mobile {
  @media screen {
    @media (max-width: $mobile-size) {
      flex-direction: column;
    }
  }
}

@mixin wide-mobile {
  @media screen {
    @media (max-width: $mobile-size) {
      width: 100%;
    }
  }
}
