$main-color: #a61111;
$elements-background: white;
$main-color-blocks-text-color: white;
$shadow-color: #d4d4d4;
$dark-text-color: #404040;
$main-font: 'Open Sans', sans-serif;
$headers-font: 'Roboto', sans-serif;
$headers-text-size: 24px;
$mobile-size: 840px;
