@import "../../common/styles/responsivity-mixines.module.scss";
@import "../../common/styles/vars.module.scss";


.header {
  @include responsive-size-container;
  background: $elements-background;
  box-shadow: 0 0 5px $shadow-color;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  @media screen and (max-width: $mobile-size) {

  }
  top: 0;
  left: 0;
  .logo {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 45px;
    @media screen and (max-width: $mobile-size) {
      height: 30px;
      width: calc(100% - 50px);
    }
    img {
      height: 45px;
      @media screen and (max-width: $mobile-size) {
        height: 30px;
      }
    }
  }

  input[type=checkbox] {
    display: none;
  }

  .showMenu:checked ~ nav {
    left: 0;
  }

  .showMenu:checked ~ .labelNav {
    .central {
      width: 0;
      content: " ";
    }
    &::after {
      transform: translateY(-15px) rotate(45deg);
    }
    &::before {
      transform: translateY(15px) rotate(-45deg);
    }
  }
  .labelNav {
    display: none;
    .central, &::after, &::before {
      display: flex;
      transition: width ease 0.6s;
      height: 2px;
      width: 30px;
      background: $main-color;
      content: " ";
    }
    &::after {
      transition: transform ease 0.6s;
    }
    &::before {
      transition: transform ease 0.6s;
    }
    @media screen and (max-width: $mobile-size) {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      height: 30px;
      width: 30px;
    }
  }
  nav {
    @media screen and (max-width: $mobile-size) {
      position: fixed;
      top: 72px;
      left: -100vw;
      height: calc(100vh - 50px);
      width: 100vw;
      background: white;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    transition: left ease 0.6s;
    .href {
      font-family: $headers-font;
      color: $dark-text-color;
      margin: 0 16px 0 0;
      text-decoration: none;
      @media screen and (max-width: $mobile-size) {
        width: 80%;
        height: 40px;
        background: $main-color;
        color: $main-color-blocks-text-color;
        font-size: 24px;
        display: flex;
        margin-bottom: 24px;
        flex-direction: row;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
