@import "../../common/styles/vars.module.scss";


.slider {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  display: flex;
  overflow: hidden;
  box-sizing: border-box;
  box-shadow: 0 0 5px $shadow-color;
  background: $elements-background;
  margin-bottom: 12px;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
  padding: 8px;
}

.pages {
  display: flex;
  flex-direction: row;
  justify-content: center;
  label {
    background: $main-color;
    color: $main-color-blocks-text-color;
    font-size: 14px;
    margin: 4px;
    width: 20px;
    height: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px;
    border-radius: 5px;
    cursor: pointer;
  }
}
