@import "../../../common/styles/vars.module.scss";


input:checked + .slide {
  width: 100%;
  background: white;
  color: black;
}

input {
  display: none;
}

.slide {
  transition: all ease 0.6s;
  display: flex;
  color: grey;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 0%;
  background: grey;
  overflow: hidden;
  height: 200px;
}
