@import "../../../common/styles/vars.module.scss";


input:checked + .slide {
  width: 100%;
  background: white;
  z-index: 20;
  color: $dark-text-color;
  * {
    opacity: 1;
  }
}

input {
  display: none;
}

.slide {
  * {
    opacity: 0;
  }
  z-index: 10;
  transition: all ease 0.6s;
  display: flex;
  color: #e3e3e3;
  box-shadow: 0 0 5px grey;
  border-radius: 5px;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 0%;
  box-sizing: border-box;
  padding: 8px 4px;
  background: #e3e3e3;
  overflow: hidden;
  height: 250px;
  .slideName {
    color: $dark-text-color;
    font-weight: bold;
    margin-bottom: 4px;
    padding-left: 8px;
  }
  .slideTags {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-left: 8px;
    div {
      background: $main-color;
      font-family: $main-font;
      font-size: 12px;
      padding: 2px;
      border-radius: 5px;
      color: $main-color-blocks-text-color;
      margin-right: 4px;
      font-weight: bold;
    }

  }
  .slideText {
    width: 100%;
    box-sizing: border-box;
    padding: 8px;
    font-size: 14px;
    color: $dark-text-color;
    text-align: justify;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
